<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpRuntime executionTimeout="108000" maxRequestLength="1048576"/>
    </system.web>
    <system.webServer>

      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CSMSBE.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>

    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 4e6def33-2364-498e-b374-cc9154dfa8f1-->